.version.index{
    color:#00001E;
    background-color:#92292B;
}
#page{
    background-color:transparent;
    background-image:none;
    border-width:0px;
    z-index:1;
    border-color:#000000;
    width:100%;
}
#u485{
    background-color:transparent;
    z-index:13;
    position:relative;
}
#buttonu481{
    background-color:#997B5D;
    border-color:#787878;
    padding-bottom:7px;
    z-index:2;
    position:relative;
}
#buttonu481:hover{
    background-color:#141414;
    min-height:0px;
    margin-right:0px;
    margin-bottom:0px;
}
#buttonu481.ButtonSelected{
    background-color:#997B5D;
    min-height:0px;
    margin-right:0px;
    margin-bottom:0px;
}
#u482-5{
    letter-spacing:1px;
    text-align:center;
    margin-top:27px;
    font-size:14px;
    font-family:Helvetica, Helvetica Neue, Arial, sans-serif;
    background-color:transparent;
    min-height:48px;
    margin-right:-10000px;
    z-index:3;
    color:#FFFFFF;
    position:relative;
}
#buttonu481:hover #u482-5{
    margin-top:27px;
    padding-top:0px;
    margin-right:-10000px;
    margin-bottom:0px;
    min-height:48px;
    padding-bottom:0px;
}
#buttonu481.ButtonSelected #u482-5{
    margin-top:27px;
    padding-top:0px;
    margin-right:-10000px;
    margin-bottom:0px;
    min-height:48px;
    padding-bottom:0px;
}
#u483{
    margin-top:-9px;
    margin-bottom:9px;
}
#u483:hover{
    min-height:0px;
    margin:-9px 0px 9px;
}
#u484-4{
    background-color:transparent;
    text-align:center;
    min-height:46px;
    line-height:48px;
    z-index:8;
    font-family:montserrat, sans-serif;
    width:221px;
    color:#C9A77E;
    font-size:40px;
    font-weight:400;
}
#pu487{
    z-index:15;
}
#u487{
    background-color:transparent;
    margin-right:-10000px;
    z-index:15;
    position:relative;
}
#entered{
    width:22px;
    position:relative;
    margin-right:-10000px;
}
#buttonu489{
    background-color:#997B5D;
    border-color:#787878;
    z-index:21;
    position:relative;
}
#u490-5{
    letter-spacing:1px;
    text-align:center;
    line-height:10px;
    font-family:Helvetica, Helvetica Neue, Arial, sans-serif;
    font-size:8px;
    background-color:transparent;
    min-height:23px;
    margin-right:-10000px;
    z-index:22;
    color:#FFFFFF;
    position:relative;
}
#buttonu489:hover #u490-5{
    padding-top:0px;
    min-height:23px;
    margin-right:-10000px;
    margin-bottom:0px;
    padding-bottom:0px;
}
#u491{
    margin-top:5px;
    margin-bottom:-5px;
}
#u491:hover{
    min-height:0px;
    margin:5px 0px -5px;
}
#u492-4{
    background-color:transparent;
    text-align:center;
    line-height:31px;
    z-index:27;
    font-family:montserrat, sans-serif;
    color:#C9A77E;
    font-size:26px;
    font-weight:400;
}
#u885{
    background-color:transparent;
    z-index:17;
    position:relative;
}
#buttonu873{
    background-color:#997B5D;
    border-color:#787878;
    z-index:32;
    position:relative;
}
#u874-5{
    letter-spacing:1px;
    text-align:center;
    line-height:5px;
    font-family:Helvetica, Helvetica Neue, Arial, sans-serif;
    font-size:4px;
    background-color:transparent;
    min-height:23px;
    margin-right:-10000px;
    z-index:33;
    width:116px;
    color:#FFFFFF;
    position:relative;
}
#buttonu873:hover #u874-5{
    padding-top:0px;
    min-height:23px;
    margin-right:-10000px;
    margin-bottom:0px;
    width:116px;
    margin-left:0px;
    padding-bottom:0px;
}
#buttonu873.ButtonSelected #u874-5{
    padding-top:0px;
    min-height:23px;
    margin-right:-10000px;
    margin-bottom:0px;
    width:116px;
    margin-left:0px;
    padding-bottom:0px;
}
#u875{
    margin-top:2px;
    margin-bottom:-2px;
}
#u875:hover{
    min-height:0px;
    margin:2px 0px -2px;
}
#u876-4{
    background-color:transparent;
    text-align:center;
    line-height:34px;
    z-index:38;
    font-family:montserrat, sans-serif;
    color:#C9A77E;
    font-size:28px;
    font-weight:400;
}
#u933{
    background-color:transparent;
    z-index:19;
    position:relative;
}
#buttonu921{
    background-color:#997B5D;
    border-color:#787878;
    z-index:43;
    position:relative;
}
#buttonu489:hover,#buttonu873:hover,#buttonu921:hover{
    background-color:#141414;
    min-height:0px;
    margin-bottom:0px;
}
#u922-5{
    letter-spacing:1px;
    text-align:center;
    line-height:7px;
    font-family:Helvetica, Helvetica Neue, Arial, sans-serif;
    font-size:6px;
    background-color:transparent;
    min-height:23px;
    margin-right:-10000px;
    z-index:44;
    color:#FFFFFF;
    position:relative;
}
#buttonu489.ButtonSelected #u490-5,#buttonu921:hover #u922-5{
    padding-top:0px;
    min-height:23px;
    margin-right:-10000px;
    margin-bottom:0px;
    padding-bottom:0px;
}
#buttonu921.ButtonSelected #u922-5{
    padding-top:0px;
    min-height:23px;
    margin-right:-10000px;
    margin-bottom:0px;
    padding-bottom:0px;
}
#buttonu481:hover #u482-5 p,#buttonu481:hover #u482-5 span,#buttonu481.ButtonSelected #u482-5 p,#buttonu481.ButtonSelected #u482-5 span,#buttonu489:hover #u490-5 p,#buttonu489:hover #u490-5 span,#buttonu489.ButtonSelected #u490-5 p,#buttonu489.ButtonSelected #u490-5 span,#buttonu873:hover #u874-5 p,#buttonu873:hover #u874-5 span,#buttonu873.ButtonSelected #u874-5 p,#buttonu873.ButtonSelected #u874-5 span,#buttonu921:hover #u922-5 p,#buttonu921:hover #u922-5 span,#buttonu921.ButtonSelected #u922-5 p,#buttonu921.ButtonSelected #u922-5 span{
    visibility:inherit;
    color:#FFFFFF;
}
#u482,#u490,#u874,#u922{
    font-size:1px;
    line-height:0px;
}
#u923{
    margin-top:22px;
    margin-bottom:-22px;
}
#u923:hover{
    min-height:0px;
    margin:22px 0px -22px;
}
#u924-4{
    background-color:transparent;
    text-align:center;
    min-height:60px;
    line-height:38px;
    z-index:49;
    font-family:montserrat, sans-serif;
    color:#C9A77E;
    font-size:32px;
    font-weight:400;
}
.html{
    background-color:#C4A379;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
}
body{
    position:relative;
}
@media (min-width: 586px), print{
    #muse_css_mq{
        background-color:#FFFFFF;
    }
    #bp_infinity.active{
        display:block;
    }
    #page{
        min-height:499px;
        padding-bottom:71px;
        max-width:1231px;
    }
    #entered{
        margin-top:627px;
        left:-0.17%;
    }
    #pu485{
        z-index:13;
        padding-bottom:0px;
        margin-right:-10000px;
        margin-top:62px;
        width:46.39%;
    }
    #u485{
        width:156px;
        margin-left:107.8%;
        left:-79px;
    }
    #buttonu481{
        width:271px;
        height:80px;
        margin-top:52px;
        margin-left:107.8%;
        left:-138px;
    }
    #buttonu481:hover{
        margin-top:52px;
        width:271px;
        height:80px;
        margin-left:107.8%;
        left:-138px;
    }
    #buttonu481.ButtonSelected{
        margin-top:52px;
        width:271px;
        height:80px;
        margin-left:107.8%;
        left:-138px;
    }
    #u482-5{
        width:249px;
        margin-left:50%;
        left:-123px;
    }
    #buttonu481:hover #u482-5{
        width:249px;
        margin-left:50%;
        left:-123px;
    }
    #buttonu481.ButtonSelected #u482-5{
        width:249px;
        margin-left:50%;
        left:-123px;
    }
    #pu487{
        margin-top:176px;
        width:99.83%;
        margin-left:57.89%;
    }
    #u487{
        width:570px;
        margin-left:50%;
        left:-285.5000000000001px;
    }
    #buttonu489{
        width:177px;
        height:57px;
        padding-bottom:25px;
        margin-right:-10000px;
        margin-top:228px;
        margin-left:50%;
        left:90.49999999999989px;
    }
    #buttonu489:hover{
        margin-right:-10000px;
        margin-top:228px;
        width:177px;
        height:57px;
        margin-left:50%;
        left:90.49999999999989px;
    }
    #u490-5{
        width:116px;
        margin-top:19px;
        left:36px;
    }
    #buttonu489:hover #u490-5{
        margin-left:0px;
        margin-top:19px;
        width:116px;
    }
    #buttonu489.ButtonSelected #u490-5{
        margin-left:0px;
        margin-top:19px;
        width:116px;
    }
    #u492-4{
        width:109px;
        min-height:35px;
    }
    #pu885{
        z-index:17;
        margin-top:20px;
        width:100%;
    }
    #u885{
        width:571px;
        margin-right:-10000px;
        margin-left:107.8%;
        left:-287px;
    }
    #buttonu873{
        width:283px;
        height:71px;
        padding-bottom:16px;
        margin-right:-10000px;
        margin-top:211px;
        left:25.4%;
        margin-left:57.62%;
    }
    #buttonu873:hover{
        margin-right:-10000px;
        margin-top:211px;
        width:283px;
        height:71px;
        margin-left:57.62%;
    }
    #u874-5{
        margin-top:24px;
        left:87px;
    }
    #buttonu873:hover #u874-5{
        margin-top:24px;
    }
    #buttonu873.ButtonSelected #u874-5{
        margin-top:24px;
    }
    #u876-4{
        width:180px;
        min-height:46px;
    }
    #pu933{
        z-index:19;
        margin-top:20px;
        width:100%;
        margin-left:57.8%;
    }
    #u933{
        width:571px;
        margin-right:-10000px;
        margin-left:50%;
        left:-287.00000000000006px;
    }
    #buttonu921{
        width:320px;
        height:69px;
        padding-bottom:18px;
        margin-right:-10000px;
        margin-top:364px;
        margin-left:50%;
        left:-163.00000000000006px;
    }
    #buttonu921:hover{
        margin-right:-10000px;
        margin-top:364px;
        width:320px;
        height:69px;
        margin-left:50%;
        left:-163.00000000000006px;
    }
    #u922-5{
        width:116px;
        margin-top:7px;
        left:100px;
    }
    #buttonu921:hover #u922-5{
        margin-left:0px;
        margin-top:7px;
        width:116px;
    }
    #buttonu921.ButtonSelected #u922-5{
        margin-left:0px;
        margin-top:7px;
        width:116px;
    }
    #u924-4{
        width:241px;
    }
    .css_verticalspacer .verticalspacer{
        height:calc(100vh - 1827px);
    }
    .html{
        background-image:url("../images/screen%20shot%202018-06-14%20at%2053921%20pm.jpg?crc=3787871583");
    }
}
@media (min-width: 321px) and (max-width: 585px){
    #muse_css_mq{
        background-color:#000249;
    }
    #bp_585.active{
        display:block;
    }
    #page{
        min-height:569.6150675095457px;
        padding-bottom:0px;
        max-width:585px;
    }
    #page_position_content{
        padding-top:62px;
        padding-bottom:71px;
        width:100%;
    }
    #u485{
        width:156px;
        margin-left:50%;
        left:-79px;
    }
    #buttonu481{
        width:271px;
        height:80px;
        margin-top:62px;
        margin-left:50%;
        left:-137px;
    }
    #buttonu481:hover{
        margin-top:62px;
        width:271px;
        height:80px;
        margin-left:50%;
        left:-137px;
    }
    #buttonu481.ButtonSelected{
        margin-top:62px;
        width:271px;
        height:80px;
        margin-left:50%;
        left:-137px;
    }
    #u482-5{
        width:249px;
        margin-left:50%;
        left:-123px;
    }
    #buttonu481:hover #u482-5{
        width:249px;
        margin-left:50%;
        left:-123px;
    }
    #buttonu481.ButtonSelected #u482-5{
        width:249px;
        margin-left:50%;
        left:-123px;
    }
    #pu487{
        margin-top:506px;
        width:98.81%;
    }
    #u487{
        width:570px;
        margin-left:50.61%;
        left:-286px;
    }
    #buttonu489{
        width:177px;
        height:57px;
        padding-bottom:25px;
        margin-right:-10000px;
        margin-top:228px;
        left:35.47%;
        margin-left:-0.18%;
    }
    #buttonu489:hover{
        margin-right:-10000px;
        margin-top:228px;
        width:177px;
        height:57px;
        margin-left:-0.18%;
    }
    #u490-5{
        width:116px;
        margin-top:19px;
        left:36px;
    }
    #buttonu489:hover #u490-5{
        margin-left:0px;
        margin-top:19px;
        width:116px;
    }
    #buttonu489.ButtonSelected #u490-5{
        margin-left:0px;
        margin-top:19px;
        width:116px;
    }
    #u492-4{
        width:109px;
        min-height:35px;
    }
    #entered{
        left:0%;
        margin-left:-0.18%;
    }
    #pu885{
        z-index:17;
        margin-top:20px;
        width:97.61%;
    }
    #buttonu873{
        width:283px;
        height:68px;
        padding-bottom:19px;
        margin-right:-10000px;
        margin-top:211px;
        left:25.4%;
        margin-left:1.06%;
    }
    #buttonu873:hover{
        margin-right:-10000px;
        margin-top:211px;
        width:283px;
        height:68px;
        margin-left:1.06%;
    }
    #u874-5{
        margin-top:7px;
        left:87px;
    }
    #buttonu873:hover #u874-5{
        margin-top:7px;
    }
    #buttonu873.ButtonSelected #u874-5{
        margin-top:7px;
    }
    #u876-4{
        width:241px;
        min-height:60px;
    }
    #pu933{
        z-index:19;
        margin-top:20px;
        width:97.61%;
    }
    #u885,#u933{
        width:571px;
        margin-right:-10000px;
        margin-left:51.23%;
        left:-287px;
    }
    #buttonu921{
        width:320px;
        height:69px;
        padding-bottom:18px;
        margin-right:-10000px;
        margin-top:364px;
        left:21.72%;
        margin-left:1.06%;
    }
    #buttonu921:hover{
        margin-right:-10000px;
        margin-top:364px;
        width:320px;
        height:69px;
        margin-left:1.06%;
    }
    #u922-5{
        width:116px;
        margin-top:7px;
        left:100px;
    }
    #buttonu921:hover #u922-5{
        margin-left:0px;
        margin-top:7px;
        width:116px;
    }
    #buttonu921.ButtonSelected #u922-5{
        margin-left:0px;
        margin-top:7px;
        width:116px;
    }
    #u924-4{
        width:241px;
    }
    .css_verticalspacer .verticalspacer{
        height:calc(100vh - 2167px);
    }
    .html{
        background-image:url("../images/screen%20shot%202018-06-14%20at%2053921%20pm1170x1171.jpg?crc=4070230164");
    }
    body{
        overflow-x:hidden;
    }
}
@media (max-width: 320px){
    #muse_css_mq{
        background-color:#000140;
    }
    #bp_320.active{
        display:block;
    }
    #page{
        min-height:386.86756756756745px;
        padding-top:112px;
        padding-bottom:71.13243243243255px;
        max-width:320px;
    }
    #u485{
        width:49.38%;
        margin-left:25.32%;
        left:0px;
    }
    #u485_img{
        width:100%;
    }
    #buttonu481{
        margin-top:40px;
        width:84.69%;
        margin-left:7.66%;
        left:0px;
    }
    #buttonu481:hover{
        margin-top:40px;
        width:84.69%;
        margin-left:7.66%;
        left:0px;
    }
    #buttonu481.ButtonSelected{
        margin-top:40px;
        width:84.69%;
        margin-left:7.66%;
        left:0px;
    }
    #u482-5{
        width:91.89%;
        left:4.8%;
    }
    #buttonu481:hover #u482-5{
        width:91.89%;
        margin-left:0%;
    }
    #buttonu481.ButtonSelected #u482-5{
        width:91.89%;
        margin-left:0%;
    }
    #pu487{
        margin-top:286px;
        width:84.69%;
    }
    #u487{
        width:271px;
        margin-left:59.05%;
        left:-136px;
    }
    #entered{
        left:45.76%;
        margin-left:9.23%;
    }
    #buttonu489{
        margin-top:9px;
        width:73.13%;
        margin-left:13.44%;
        left:0px;
    }
    #buttonu489:hover{
        margin-right:0px;
        margin-top:9px;
        width:73.13%;
        margin-left:13.44%;
        left:0px;
    }
    #u490-5{
        margin-top:21px;
        width:42.74%;
        left:29.49%;
    }
    #buttonu489:hover #u490-5{
        margin-top:21px;
        width:42.74%;
        margin-left:0%;
    }
    #buttonu489.ButtonSelected #u490-5{
        margin-top:21px;
        width:42.74%;
        margin-left:0%;
    }
    #u492-4{
        width:94px;
        min-height:60px;
    }
    #u885{
        margin-top:8px;
        width:73.13%;
        margin-left:13.44%;
    }
    #buttonu873{
        width:271px;
        height:68px;
        padding-bottom:19px;
        margin-top:8px;
        margin-left:50%;
        left:-135px;
    }
    #buttonu873:hover{
        margin-right:0px;
        margin-top:8px;
        width:271px;
        height:68px;
        margin-left:50%;
        left:-135px;
    }
    #u874-5{
        margin-top:7px;
        left:81px;
    }
    #buttonu873:hover #u874-5{
        margin-top:7px;
    }
    #buttonu873.ButtonSelected #u874-5{
        margin-top:7px;
    }
    #u876-4{
        width:241px;
        min-height:60px;
    }
    #u933{
        margin-top:8px;
        width:73.13%;
        margin-left:13.44%;
        left:0px;
    }
    #u885_img,#u933_img{
        width:100.43%;
    }
    #buttonu921{
        padding-bottom:20px;
        margin-top:5px;
        width:73.13%;
        margin-left:13.44%;
        left:0px;
    }
    #buttonu921:hover{
        margin-right:0px;
        margin-top:5px;
        width:73.13%;
        margin-left:13.44%;
        left:0px;
    }
    #u922-5{
        margin-top:5px;
        width:42.74%;
        left:29.49%;
    }
    #buttonu921:hover #u922-5{
        margin-top:5px;
        width:42.74%;
        margin-left:0%;
    }
    #buttonu921.ButtonSelected #u922-5{
        margin-top:5px;
        width:42.74%;
        margin-left:0%;
    }
    #u924-4{
        width:208px;
    }
    .css_verticalspacer .verticalspacer{
        height:calc(100vh - 1820px);
    }
    .html{
        background-image:url("../images/screen%20shot%202018-06-14%20at%2053921%20pm640x641.jpg?crc=4131682266");
    }
    body{
        overflow-x:hidden;
        min-width:320px;
    }
}
